* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 550px;
  background: #161a2b;
  text-align: center;
  margin: 120px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  margin-top: 30px;
  letter-spacing: 1px;
}
form {
  margin: 30px auto;
}
#message {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 700;
  background: transparent;
  border: 1px solid darkorchid;
}
.add-btn {
  margin-left: 20px;
  color: darkorchid;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 700;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
}
h1,
h4 {
  margin: 28px 0;
  color: #fff;
  font-size: 24px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.lists {
  list-style-type: none;
  color: #fff;
}
.delete-icon {
  color: #333;
  font-size: 23px;
  cursor: pointer;
}

.edit-icon {
  color: #333;
  font-size: 24px;
  cursor: pointer;
}
.icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.icons .icon-text {
  width: 300px;
  font-size: 18px;
  text-align: start;
  margin-left: 20px;
}
.icon-btn {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 20px;
}
